.footer {
    max-height: 32px;
    color: white;
    background: transparent linear-gradient(72deg,#e40769,#820368 10%,#3c0168 20%,#120068 30%,#070067 40%,#070067 50%,#070067 60%,#070067 70%,#070067 80%,#070067 90%,#070067) 0 0 no-repeat padding-box;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}