@import '../../../assets/styles/colors.scss';

.icon {
    cursor: pointer;
}

.mat-icon.mat-accent {
    color: $color-primary;
}

.mat-icon-button {
    border: 3px solid $color-primary;
    margin-right: 5px;
    margin-left: 10px;
    line-height: 18px;
}

.spacer {
    flex: 1 1 auto;
}

.logoImg {
    max-width:120px;
}

.logo {
    margin-top: 10px;
    margin-right: 15px;
}

.title { 
    font-weight: 300;
}

@media screen and (min-width: 651px) {
    .title {
        font-size: 1.8em;
    }
}
  
@media screen and (max-width: 650px) {
    .title {
        font-size: 18px;
    }
    .logoImg {
        max-width:75px;
      }
}

.title-style-a {
    color: $color-primary;
}

.title-style-b {
    color: $color-accent;
}

.rhs-options {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.modeBtn:hover {
    color: $color-primary;
}

.mode{
    font-weight: 300;
}

@media screen and (min-width: 651px) {
    .mode {
        font-size: 1.5em;
    }
}
  
@media screen and (max-width: 650px) {
    .mode {
        font-size: 14px;
    }
}
