<app-header></app-header>
<div class="skao-spacer"></div>
<div class="mat-app-background">

    <h1 translate>translate.app-comp.dummyText</h1>
    <h2 translate>translate.app-comp.subDummyText</h2>
    <h2 translate>translate.app-comp.noTranslation</h2>

    <a href="{{getConfiguration()!.documentationURL}}" target="_blank">documentation</a>

    <!-- below mat-slider component is ex of angular material component, remove this code on project startup -->
    <div>
        <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
    </div>

    <button color="primary" mat-raised-button>EXAMPLE</button>
</div>
<app-footer></app-footer>
